In [10]:
import pandas as pd
import os

os.chdir(r"C:\Users\kartk\pro")

# Load sample enriched data

df = pd.read_csv("data.csv.csv")

def calculate_score(row):
    score = 0

    # Role Fit
    if any(x in row["Title"] for x in ["Director", "Head", "VP"]):
        score += 30

    # Scientific Intent
    if row["Published_DILI_Paper"] == "Yes":
        score += 40

    # Company Funding Intent
    funding_scores = {
        "Series A": 15,
        "Series B": 20,
        "Series C": 20,
        "IPO": 25
    }
    score += funding_scores.get(row["Funding_Stage"], 0)

    # Technographic Signal
    if row["Uses_InVitro"] == "Yes":
        score += 15

    # Openness to NAMs
    if row["Open_to_NAMs"] == "Yes":
        score += 10

    # Location Hub Bonus
    hubs = ["Boston", "Cambridge", "Basel", "San Francisco"]
    if any(hub in row["HQ_Location"] for hub in hubs):
        score += 10

    # Normalize to 0â€“100
    return round((score / 125) * 100, 1)

# Apply scoring and ranking
df["Propensity_Score"] = df.apply(calculate_score, axis=1)

df = df.sort_values("Propensity_Score", ascending=False)
df["Rank"] = range(1, len(df) + 1)

# Display final ranked leads

df

,Name,Title,Company,Person_Location,HQ_Location,Funding_Stage,Published_DILI_Paper,Uses_InVitro,Open_to_NAMs,Propensity_Score,Rank
0,Dr. Alice Brown,Director of Toxicology,Helix Bio,Boston,Cambridge MA,Series B,Yes,Yes,Yes,100.0,1
4,Dr. Mark Schneider,VP Safety Assessment,HepatoTech,Basel,Basel,Series C,Yes,Yes,Yes,100.0,2
2,Dr. Raj Patel,Head of Preclinical Safety,LiveraTx,Cambridge MA,Cambridge MA,Series A,Yes,Yes,Yes,96.0,3
3,Emily Wong,Junior Scientist,BioStart SF,Remote Texas,San Francisco,Pre-Seed,No,Yes,No,20.0,4
1,John Smith,Senior Scientist,NeoPharma,San Diego,San Diego,Seed,No,No,No,0.0,5